html,body {
  font-size: 18px;
 background-color: #0e0c07;
  color:#9e9e9e;
}


h1,h2,h3,h4 {
  
  font-weight: 200;
  margin: 0.1em 0;
  position: sticky;
  margin-top: 5px;
}
h1 { 
  font-size: 2.5em;
  font-family:Georgia, Times, "Times New Roman", serif;
} ;
 
h2 {
  color: #e5b51c;
  font-size: 1.5em;
  font-family: 'Ephesis', cursive;
 
}
h3{
  color: #e5b51c;
  font-size: 1.5em
}
h4{
  color:#e5b51c;
  font-size: 1.5em;

}
a{
  color: #e7cdb1;;
}




nav {
  position: sticky;
  top: 0;
  height: 3.5em;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
 
}
header{
   text-align: right; 
   display: block; 
  margin-top: 30%; 
 } 
p {
  
  color: rgb(255, 255, 255);
  font-size: x-large;
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 50px;
 font-family: 'Grechen Fuemen', cursive;
}
.one{
  /* text-align: right; */
  font-family: 'Grechen Fuemen', cursive;

}
/* img{
 height: 50px;
 width: 60px;
  
} */
img {
  vertical-align:top;
  width: 300px;
  margin: auto;
}
.flotte {
  float: left;
  text-align: right;
  }
.contact{
  text-align: center;
  font-family: 'Grechen Fuemen', cursive;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.link {
  color: #e5b51c; 
  padding: 0 0.5em;
}


/* menu-button {
  display: none;
} */



@media screen and (max-width: 600px) {
  
  menu-button {
    
    display: inline;
    color: rgb(206, 206, 206);
    font-size: 2em;

    cursor: pointer;
  }
  .menu {
    
    position: absolute;
    top: 3.6em;
   
    flex-direction: column;
    min-width: 50%;
    transition: all 0.5s ease-in-out;
  }


}

.card-text{
  text-align: center;
  font-family: 'Grechen Fuemen', cursive;
}
.card-title {
  text-align: center;
}


